
QMenuBar, QGroupBox, QPushButton, QComboBox, QMainWindow, QTextEdit {
    border: 1px solid #101010; background-color: rgb(120, 0, 0);
}


QLineEdit, QSpinBox,  QDoubleSpinBox, QMessageBox, QDialog, QCheckBox {
    border: 1px solid #101010;
    background-color: rgb(160, 0, 0);
    selection-background-color: rgb(140, 0, 0);
}

QCheckBox {
    border: 0px
    }

QComboBox::drop-down, QComboBox:editable, QComboBox QAbstractItemView, QMenu {
    border: 1px solid #101010;
    background-color: rgb(140, 0, 0);
    selection-background-color: rgb(140, 0, 0);
}

QComboBox::down-arrow {
    image: url(:/images/Arrow_down.svg);
    width: 16px;
    height: 16px;
}

QProgressBar::chunk {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(100, 100, 0, 255), stop:1 rgba(100, 50, 0, 255))
}
QProgressBar {
    border-bottom-left-radius: 1px;
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(100, 0, 0, 255), stop:1 rgba(50, 0, 0, 255))
}

